html, 
body, 
#view-port {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
}

.home {
    
}

.home .emisija .logo{
    float: left;
    margin-right: 6px;
}

.home .emisija .kanal{
    font-size: 18px;
}

.home .emisija .vreme{
    float: left;
    margin-right: 12px;
}

.home .emisija .tip-emisije {
    float: right;
}

.kanal .logo {
    float: left;
    margin-left: 16px;
}

.clear {
    clear: both;
}

.kanal .header {
    margin-top: 12px;
}

.kanal .lista {
    margin-top: 24px;
}

.kanal .naziv-kanala {
    margin-left: 100px;
}

.kanal .naziv {
    margin-left: 16px;
}

.active {
    opacity: 1;
}

.inactive {
    opacity: 0.25;
}