html, 
body, 
#view-port {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
}

.home {
    
}

.home .emisija .logo{
    float: left;
    margin-right: 6px;
}

.home .emisija .kanal{
    font-size: 18px;
}

.home .emisija .vreme{
    float: left;
    margin-right: 12px;
}

.home .emisija .tip-emisije {
    float: right;
}

.active {
    opacity: 1;
}

.inactive {
    opacity: 0.25;
}