<div data-options="dxView: { name: 'kanal' }">
    <div class="kanal" data-options="dxContent : { targetPlaceholder: 'content' } ">
        <div class="header">
            <img data-bind="attr: { src: logo }" class="logo" />
            <h2 data-bind="text: naziv" class="naziv-kanala" ></h2>    
        </div>
        <div class="clear"></div>
        <div data-bind="dxList: { dataSource: program, activeStateEnabled: false }" class="lista">
            <div data-options="dxTemplate: { name: 'item' }" class="list-item">
                <img src="img/nav-selected.png" data-bind="visible: sad" style="float: left" />
                <p style="line-height: 28px; margin-left: 32px;">
                    <span class="vreme" data-bind="text: vreme"></span>
                    <span class="naziv" data-bind="text: naziv"></span>
                    <img data-bind="attr: { src: 'img/' + tip + '.png' }" style="float: right"/>    
                </p>
            </div>
        </div>
    </div>
</div>